<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single page web app using Angularjs</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form action="/logout" method="GET" class="form-inline">
        <div class="form-group" style="float: right;width: 4%;padding: 5px">
            <button type="submit" class="btn btn-default">Logout</button>
        </div>
    </form>

    <form action="/steps" method="GET" class="form-inline">
        <div class="form-group" style="float: left;margin: 40px; width: 4%;padding: 5px">
            <button type="submit" class="btn btn-default">View Steps</button>
        </div>
    </form>

    <form action="/heartRate" method="GET" class="form-inline">
        <div class="form-group" style="float: center;width: 4%;padding: 5px">
            <button type="submit" class="btn btn-default">View Heart Rate</button>
        </div>
    </form>
    <br>
    <div class="maxChart" style="float: left; width: 40%">
        <h2>Activity</h2>
        <p><%= response%></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="home.js"></script>
</body>
</html>