<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>FitBit OAuth App</title>
</head>
<body>
<div class="container">
<form action="/auth/fitbit" method="GET" class="form-inline">
    <div class="form-group">
            <button type="submit" style="position: absolute; left: 50%; top:50%" class="btn btn-default">Login using Fitbit</button>
    </div>
</form>
</div>
</body>
</html>